
.about-section{
	position:relative;
	padding:120px 0px;
    height: auto !important;
    flex: 1;
}

.about-section .content-column{
	position:relative;
	margin-bottom:40px;
}

.about-section .content-column .inner-column{
	position:relative;
}

.about-section .content-column .text{
	position:relative;
	color:#777777;
	font-size:15px;
	line-height:2em;
	margin-bottom:40px;
}

.about-section .content-column .email{
	position:relative;
	color:#252525;
	font-weight:700;
	margin-bottom:50px;
}

.about-section .image-column{
	position:relative;
	margin-bottom:50px;
}

.about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	margin-left:50px;
}

.about-section .image-column .inner-column:after{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	left:40px;
	bottom:100px;
	z-index:-1;
	border:2px solid #ff0000;
    border-radius: 20px;
    
}

.about-section .image-column .inner-column .image{
	position:relative;
}

.about-section .image-column .inner-column .image:before{
	position:absolute;
	content:'';
	left:-50px;
	bottom:-50px;
	width:299px;
	height:299px;
	background:url(img/pattern-2.png) no-repeat;
}

.about-section .image-column .inner-column .image img{
	position:relative;
	width:100%;
	display:block;
    border-radius: 20px;
    /* box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3), -10px -10px 25px rgba(255, 255, 255, 0.6); */
	box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3), -10px -10px 25px rgba(255, 255, 255, 0); 


}

.about-section .image-column .inner-column .image .overlay-box{
	position:absolute;
	left:40px;
	bottom:48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
    
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number{
	position:absolute;
	left:0px;
	top:0px;
	width:110px;
	height:110px;
	color:#ff0000;
	font-size:68px;
	font-weight:700;
	line-height:105px;
	text-align:center;
	background-color:#ffffff;
	border:1px solid #000000;
}
.about-section .btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
    color: #ffffff;
    background: #ff0000;
}
.about-section .btn-style-three {
    position: relative;
    line-height: 24px;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    background: none;
    display: inline-block;
    padding: 11px 40px;
    background-color: #ffffff;
    text-transform: capitalize;
    border: 2px solid #ff0000;
    font-family: 'Arimo', sans-serif;
}
.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    position: relative;
    color: #ff0000;
    font-size: 18px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}


.vision-title h2{
    font-size: 22px;
}







.adv_sec {
	width: 100%;
	padding-top: 20px;
  }
  .adv_in {
	width: 100%;
	padding-top: 60px;
  }
  .adv_box {
	width: 100%;
	position: relative;
	transition: 0.3s ease-in-out;
	text-align: center;
	margin-bottom: 25px;
	position: relative;
	-webkit-box-shadow: -10px 17px 46px -25px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: -10px 17px 46px -25px rgba(0, 0, 0, 0.68);
	box-shadow: -10px 17px 46px -25px rgba(0, 0, 0, 0.68);
	padding: 15px 5px 15px 0;
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .adv_box .icon {
	max-width: 100%;
	/* -webkit-filter: invert(100%);
	filter: invert(100%); */
	margin: 20px;
	color: rgb(255, 0, 0);
  }
  .adv_box::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/bx.png) no-repeat center center;
	background-size: contain;
	opacity: 0.1;
  }
   .adv_box {
	background: #ffffff;
	color: #000;
  }

  .adv_box .media-body h5 {
	font-size: 16px;
	color: #000;
	font-weight: bold;
	text-align: left;
  }
  .adv_box .media-body p {
	font-size: 15px;
	color: #000;
	text-align: justify;
	text-align: left;
  }
  .adv_box .media {
	align-items: center !important;
  }
  /* .adv_box:hover {
	background: #fff !important;
  }
   */



  .divider
  {
	  position: relative;
	  margin-top: 90px;
	  height: 1px;
  }
  .div-transparent:before
  {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 5%;
	  right: 5%;
	  width: 90%;
	  height: 1px;
	  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
  }




























 
.box-area-aboutus {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 40px;
}

.box-aboutus {
    width: 40px;
    height: 400px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    transition: all linear 0.6s;
}

.box-aboutus:last-child{
    margin-right: 0;
}

.box-aboutus::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.box-aboutus video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.aboutus-active{
    width: 700px;
    transition: all linear 0.6s;
}


















.btn-tabs {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  .btn-tabs.active {
    background: white;
    color: red;
   
  }
  .tab-content {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px; /* Optional: for rounded corners */
  }
  













.our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background: url(img/service-section-bottom.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
.our-team {
    padding: 30px 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #ff0000;
}
.our-team:hover{
    border-bottom: 5px solid #ff0000;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff0000;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
 height: 100%;
    background: #c7c7c713; 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}

.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #ffffff;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #ffffff;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #000000;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ff0000;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #2f2f2f;
    background: #ffffff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}









/************************************* contact us ****************************************/
.contact-cards {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 12px; 
    padding: 20px; 
}


.contact-cards i{
    color: red;
}



.contactus-sm-section {
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
