{% extends 'main/base.html' %}
{% load static %}

{% if meta %}
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="robots" content="{{ meta.robots }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ meta.og_title }}">
    <meta property="og:description" content="{{ meta.og_description }}">
    <meta property="og:image" content="{{ meta.og_image.url }}">
    <meta property="og:url" content="{{ meta.og_url }}">
    <meta property="og:type" content="website">

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ meta.twitter_title }}">
    <meta name="twitter:description" content="{{ meta.twitter_description }}">
    <meta name="twitter:image" content="{{ meta.twitter_image.url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ meta.twitter_site }}">

    <!-- Canonical -->
    <link rel="canonical" href="{{ meta.canonical_url }}">
{% else %}
    <p>Meta data not found for this page.</p>
{% endif %}

{% block content %}




    <section  style="height: 100%;">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-target="#carouselExampleCaptions" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-target="#carouselExampleCaptions" data-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-target="#carouselExampleCaptions" data-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for slide in carouselslides %}
                <div class="carousel-item homepage-carousel gradient {% if forloop.first %}active{% endif %}" style="background-image: url('{{ slide.background_image.url }}');">
                    <div class="container" style="position: relative; top: 30%;">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-12 col-lg-6 carousel-caption text-left" style="position: relative; top: 50%; left: 0;">
                                <h1 style="font-weight: bold;">{{ slide.title }}</h1>
                                <h5>{{ slide.subtitle }}</h5>
                            </div>
                            {% if slide.show_video_button %}
                            <div class="col-12 col-lg-6 d-flex justify-content-center">
                                {% if slide.show_video_button and slide.video %}
                                <a href="#" class="play-btn" data-toggle="modal" data-target="#videoModal" data-video="{{ slide.video.url }}"></a>
                            {% endif %}
                            
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev" style="background-color: red; height: 40px; width: 40px; position: absolute; top: 50%; left: 0;  margin: 2px; transform: translateY(-50%); border-radius: 50%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next" style="background-color: red; height: 40px; width: 40px; position: absolute; top: 50%; right: 0; margin: 2px; transform: translateY(-50%); border-radius: 50%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
    </section>

   
    <style>
        .gradient::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)); 
            z-index: 1;
            border-radius: inherit;
        }
       

    </style>


    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: transparent; border-radius: 15px; max-width: 800px; padding: 0;">
                
                <div class="modal-header" style="background-color: #343a40; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <h5 class="modal-title text-white">Video Preview</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; overflow: hidden;">
                        <video id="videoPlayer" class="embed-responsive-item" controls autoplay>
                            <source id="videoSource" src="" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 





<!-- <section class="section-with-vectors">
    <div class="container content mt-5" style="max-width: 1250px;">
         <h1>{{ whatwedo_section.heading }}</h1>
         <p>{{ whatwedo_section.paragraph }}</p>
    </div>
    <div class="container mt-5" style="max-width: 1250px;">
         <div class="row align-items-stretch cards justify-content-center">
             {% for card in whatwedo_cards %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center" style="max-width: 550px; max-height: 300px;" style="background-color: red;">
                    <div class="card-top pl-2 animate__animated animate__fadeInLeft">
                        <div class="card-body" >
                            <div class="col-lg-4 text-center icon-top-card">
                                <i class="{{ card.icon_class }}"></i>
                            </div>
                            <div class="card-title p-2 mt-2">
                                <h2 class="card-title-h2">{{ card.title }}</h2> 
                                <p class="card-title-p">{{ card.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
             {% endfor %}
         </div>
     </div>
 </section> -->
 
 <section class="section-with-vectors">
    <div class="container content mt-5" style="max-width: 1250px;">
        <h1>{{ whatwedo_section.heading }}</h1>
        <p>{{ whatwedo_section.paragraph }}</p>
    </div>

    <div class="container mt-5" style="max-width: 1250px;">
        <!-- Add gap classes directly to the row -->
        <div class="row g-4 justify-content-center align-items-stretch">
            {% for card in whatwedo_cards %}
            <div class="col-md-6 col-lg-4 d-flex mb-5">
                <!-- Apply service-cards class to inner card container -->
                <div class="service-cards w-100 p-4">
                    <div class="text-center icon-top-card">
                        <i class="{{ card.icon_class }}"></i>
                    </div>
                    <div class="card-title mt-3">
                        <h2 class="card-title-h2">{{ card.title }}</h2> 
                        <p class="card-title-p">{{ card.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>







<div class="divider div-transparent"></div>




<div class="container cat-header mt-5" style="max-width: 1250px;">
    <div class="row ">
        <div class="content col-md-7 ">
            <h1 class="animate__animated animate__fadeInDown">{{ category_highlight.heading }}</h1>
            <p>{{ category_highlight.description }}</p>
        </div>
        <div class="col-md-5 mt-4 cat-boxes animate__animated animate__fadeInUp">
            <div class="row">
                {% for box in category_highlight.boxes.all|slice:":2" %}
                <div class="col-6 mb-4 flex-column-reverse">
                    <div class="box-cat">
                        <h2>{{ box.number }}</h2>
                        <h5>{{ box.label }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for box in category_highlight.boxes.all|slice:"2:" %}
                <div class="col-6 mb-4 flex-column-reverse">
                    <div class="box-cat">
                        <h2>{{ box.number }}</h2>
                        <h5>{{ box.label }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<main class="carousel-container-category-index mt-5 mb-5" style="max-width: 1250px;">
    <div class="container mt-5 mb-5">
        <button class="controls-category-index prev-category-index" id="prevBtn-category-index">&#10094;</button>
        <div class="carousel-category-index" id="carousel-category-index">
            {% for category in categories %}
                {% for subcategory in category.subcategories.all %}
                <a href="{% url 'subcategory_products' subcategory.id subcategory.name|slugify %}">

                        <div class="category-item-category-index">
                            <div class="row d-flex flex-column align-items-center text-center">
                                <div class="p-3 pr-4 pl-4 category-index-icon">
                                    <i class="fa {{ subcategory.icon }} "></i>
                                </div>
                                <div>
                                    <p class="category-name-index">{{ subcategory.name }}</p>
                                </div>
                            </div>
                        </div> 
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
        <button class="controls-category-index next-category-index" id="nextBtn-category-index">&#10095;</button>
    </div>
</main>







<section style="margin-bottom: 200px;">
    <div class="container cat-header mt-5" style="max-width: 1250px;">
        <div class="row" style="margin-top: 150px !important;">
            <div class="content col-md-7">
                <h1 class="animate__animated animate__fadeInDown">{{ catalogue_highlight.heading }}</h1>
                <h6 class="mt-4" style="font-size: 17px; font-weight: 100; line-height: 30px;">
                    {{ catalogue_highlight.description }}
                </h6>
            </div>
            <div class="col-md-5 mt-4 cat-boxes animate__animated animate__fadeInUp" style="position: relative;">
                <img src="{{ catalogue_highlight.first_image.url }}" alt="Main Image" class="img-fluid" style="width: 100%; border-radius: 10px;">
                <img src="{{ catalogue_highlight.second_image.url }}" alt="Overlay Image"  class="catalogue-overlay-image"
                     style="position: absolute; top: 60%; right: 10%; height: 200px; width: 50%; border: 5px solid #fafafa; border-radius: 10px;">
            </div>
        </div>
        <div class="col-6 mt-5">
            <a href="{% url 'catalogue_list' %}" class="btn btn-md btn-custom animate__animated animate__bounceIn animate__delay-.5s">See more</a>
        </div>
    </div>
</section>









<section class="image-section d-flex justify-content-center align-items-center">
    
    <div class="container mt-5 justify-content-center align-items-center" style="max-width: 1250px;">
        <div class="container content col-md-10  justify-content-start" style="max-width: 1250px;">
            <h1 class="animate__animated animate__fadeInDown" id='section-3'>{{ fifth_section.headtitle }}</h1>
        </div>
            <div class="row justify-content-center align-items-stretch">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
                    <div class="custom-card col-sm-12 left-card d-flex flex-column h-100 ">
                        <div class="custom-card-body">
                            <div class="row align-items-center justify-content-start">
                                <div class="col-lg-2 mb-4 mr-3 d-flex justify-content-start"  style="height: 100px; width: 100px;">
                                    <img src="{{ fifth_section.icon_left.url }}" style="max-width: 100px;" alt="">
                                </div>
                                <div class="col-lg-8 ">
                                    <h2 class="custom-card-title text-white" style="font-size: 22px; font-weight: bold;">{{ fifth_section.title_left }}</h2>
                                    <h3 class="custom-card-text" style="font-size: 20px; font-weight: bold; color: red;">{{ fifth_section.subtitle_left }}</h3>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <p>{{ fifth_section.description_left }}</p>

                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
                    <div class="custom-card col-sm-12 right-card d-flex flex-column h-100 ">
                        <div class="custom-card-body">
                            <div class="row align-items-center justify-content-start">
                                <div class="col-lg-2 mb-4 mr-3 d-flex justify-content-start"  style="height: 100px; width: 100px;">
                                    <img src="{{ fifth_section.icon_right.url }}" style="max-width: 100px;" alt="">
                                </div>
                                <div class="col-lg-8 ">
                                    <h1 class="custom-card-title text-white"  style="font-size: 22px; font-weight: bold;">{{ fifth_section.title_right }}</h1>
                                    <p class="custom-card-text " style="font-size: 20px; font-weight: bold; color: red;">{{ fifth_section.subtitle_right }}</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <p>{{ fifth_section.description_right }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>











<section>
    <div class="container mt-5 col-md-8 justify-content-start" style="max-width: 1250px;">
        <div class="row align-items-center justify-content-start">
            <div class="content col-md-12">
                <h1 class="animate__animated animate__fadeInDown">
                    {{ sixth_section.main_title }}
                </h1>
            </div>
        </div>
    </div>

    <div class="container mt-5" style="max-width: 1250px;">
        <div class="row justify-content-end">
            <div class="col-lg-5 p-5">
                <div class="col-md-12 custom-title" data-target="content1">
                    <div class="row">
                        <h2 class="sixth_section_titles"><i class="fa fa-search" aria-hidden="true"></i> {{ sixth_section.title1 }}</h2>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-10 custom-content" id="content1">
                            <p>{{ sixth_section.description1 }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 custom-title" data-target="content2">
                    <div class="row">
                        <h2 class="sixth_section_titles"><i class="fa fa-filter" aria-hidden="true"></i> {{ sixth_section.title2 }}</h2>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-10 custom-content" id="content2">
                            <p>{{ sixth_section.description2 }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 custom-title" data-target="content3">
                    <div class="row">
                        <h2 class="sixth_section_titles"><i class="fa fa-bullhorn" aria-hidden="true"></i> {{ sixth_section.title3 }}</h2>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-10 custom-content" id="content3">
                            <p>{{ sixth_section.description3 }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 custom-title" data-target="content4">
                    <div class="row">
                        <h2 class="sixth_section_titles"><i class="fa fa-globe" aria-hidden="true"></i> {{ sixth_section.title4 }}</h2>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-10 custom-content" id="content4">
                            <p>{{ sixth_section.description4 }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 custom-title" data-target="content5">
                    <div class="row" id="custom-title-last">
                        <h2 class="sixth_section_titles"><i class="fa fa-shield" aria-hidden="true"></i> {{ sixth_section.title5 }}</h2>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-10 custom-content" id="content5">
                            <p>{{ sixth_section.description5 }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 d-flex justify-content-center align-items-center">
                <div class="col-md-8 mt-5 custom-content" id="content1">
                    <img src="{{ sixth_section.image1.url }}" alt="">
                </div>
                <div class="col-md-8 mt-5 custom-content" id="content2">
                    <img src="{{ sixth_section.image2.url }}" alt="">
                </div>
                <div class="col-md-8 mt-5 custom-content" id="content3">
                    <img src="{{ sixth_section.image3.url }}" alt="">
                </div>
                <div class="col-md-8 mt-5 custom-content" id="content4">
                    <img src="{{ sixth_section.image4.url }}" alt="">
                </div>
                <div class="col-md-8 mt-5 custom-content" id="content5">
                    <img src="{{ sixth_section.image5.url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>




{% if seventh_section %}
<section class="get-started-home-page" {% if seventh_section.background_image %}style="background-image: url('{{ seventh_section.background_image.url }}');"{% endif %}>
    <div class="container get-started-home-page-container" style="max-width: 1250px;">
        <div class="row d-flex justify-content-center">
            <div class="content-content-what-people-say-slider col-md-12">
                <h1 class="animate__animated animate__fadeInDown text-center">{{ seventh_section.heading }}</h1>
            </div>
            <div class="content-content-what-people-say-slider col-md-10 mt-2">
                <p class="animate__animated animate__fadeInDown text-center">{{ seventh_section.subheading }}</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <a href="{{ seventh_section.button_link }}" class="btn btn-md pt-2 animate__animated animate__fadeInLeft" id="btn-get-started">
                {{ seventh_section.button_text }}
            </a>
            
        </div>
    </div>
</section>
{% endif %}






   
<section class="global-trade-home-page">
    <div class="container mt-5 mb-5 content" style="max-width: 1250px; padding: 35px !important;">
        <h1 class="animate__animated animate__fadeInDown">{{ eighth_section.heading }}</h1>
        <p class="animate__animated animate__fadeInDown">{{ eighth_section.subheading }}</p>
    </div>
    <div class="container" style="max-width: 1250px; padding: 35px !important;">
        <div class="row">
            <div class="col-md-6 p-2">
                <div class="box left-box d-flex align-items-end" 
                     style="background-image: {% if eighth_section.left_image %} 
                                linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), 
                                url('{{ eighth_section.left_image.url }}') 
                            {% else %} 
                                linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), 
                                url('/static/assets/images/mission.png') 
                            {% endif %};">
                    <div class="row p-5">
                        <div class="col-md-8 d-flex justify-content-start global-trade-title">
                            <h2><strong>{{ eighth_section.left_title }}</strong></h2>
                        </div>
                        <div class="col-md-12 d-flex justify-content-start global-trade-dec">
                            <p class="text-white"><strong>{{ eighth_section.left_content }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-2">
                <div class="box right-box-small mb-3 d-flex align-items-end" 
                     style="background-image: {% if eighth_section.right_first_image %} 
                                linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), 
                                url('{{ eighth_section.right_first_image.url }}') 
                            {% else %} 
                                linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), 
                                url('/static/assets/images/gcc2.jpg') 
                            {% endif %};">
                    <div class="row p-5">
                        <div class="col-md-8 d-flex justify-content-start global-trade-title">
                            <h2><strong>{{ eighth_section.right_first_title }}</strong></h2>
                        </div>
                        <div class="col-md-8 d-flex justify-content-start global-trade-dec">
                            <p class="text-white"><strong>{{ eighth_section.right_first_content }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="box right-box-large d-flex align-items-end" 
                     style="background-image: {% if eighth_section.right_second_image %} 
                                linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), 
                                url('{{ eighth_section.right_second_image.url }}') 
                            {% else %} 
                                linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), 
                                url('/static/assets/images/shipping1.jpg') 
                            {% endif %};">
                    <div class="row p-5">
                        <div class="col-md-8 d-flex justify-content-start global-trade-title">
                            <h2><strong>{{ eighth_section.right_second_title }}</strong></h2>
                        </div>
                        <div class="col-md-12 d-flex justify-content-start global-trade-dec">
                            <p class="text-white"><strong>{{ eighth_section.right_second_content }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<footer class="bg-dark text-white pt-5">
    <div class="container" style="max-width: 1350px;">
        <div class="row">
            <div class="col-md-3">
                <a class="footerbrand" href="{% url 'index' %}"> 
                    <img src="{% static 'assets/images/logo.png' %}" width="90" alt="Logo">
                </a>
                <p class="mt-2">We promote businesses through our catalog and strategic advertising, connecting them with global markets to enhance visibility and growth.</p>
            </div>

            <div class="col-md-3 mt-2">
                <h2 class="mb-4 footer-top-title" style="font-size: 16px;">Quick Links</h2>
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}" class="text-white text-decoration-none"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="{% url 'aboutus' %}" class="text-white text-decoration-none"><i class="fa fa-info-circle"></i> About Us</a></li>
                    <li><a href="{% url 'catalogue_list' %}" class="text-white text-decoration-none"><i class="fa fa-book"></i> Catalogues</a></li>
                    <li><a href="{% url 'company_signup' %}" class="text-white text-decoration-none"><i class="fa fa-users"></i> Become a supplier</a></li>
                </ul>
            </div>

            <div class="col-md-3 mt-2">
                <h2 class="mb-4 footer-top-title" style="font-size: 16px;">Our Services</h2>
                <ul class="list-unstyled">
                    <li><i class="fa fa-bullhorn"></i> Smart and Targeted Advertising</li>
                    <li><i class="fa fa-globe"></i> Connection to Global Markets</li>
                    <li><i class="fa fa-briefcase"></i> Specialized Commercial Support</li>
                    <li><i class="fa fa-truck"></i> International Transportation</li>
                    <li><i class="fa fa-credit-card"></i> Secure International Financial Transactions</li>
                </ul>
            </div>

            <div class="col-md-3 mt-2 text-center">
                <h2 class="mb-4 footer-top-title" style="font-size: 16px;">Follow Us</h2>
                <div class="mb-3">
                    {% for link in socialmedia %}
                        {% if 'facebook' in link.social_media_url %}
                            <a href="{{ link.social_media_url }}" class="text-white mx-2" ><i class="fa fa-facebook fa-2x sm-links"></i></a>
                        {% elif 'instagram' in link.social_media_url %}
                            <a href="{{ link.social_media_url }}" class="text-white mx-2"><i class="fa fa-instagram fa-2x sm-links"></i></a>
                        {% elif 'linkedin' in link.social_media_url %}
                            <a href="{{ link.social_media_url }}" class="text-white mx-2"><i class="fa fa-linkedin fa-2x sm-links"></i></a>
                        {% elif 'youtube' in link.social_media_url %}
                            <a href="{{ link.social_media_url }}" class="text-white mx-2"><i class="fa fa-youtube fa-2x sm-links"></i></a>
                        {% endif %}
                    {% empty %}
                        <p>No social media links available</p>
                    {% endfor %}
                </div>
                <!-- <h5 class="mt-4 subscrribe-title">Subscribe to Our Newsletter</h5>
                <form class="d-flex mt-2">
                    <div class="input-group" style="border:none; border-bottom: 2px solid white;">
                        <input type="email" class="form-control" placeholder="Enter your email" style="background: transparent; border: none;">
                        <button type="submit" class="btn subscribe-button">Subscribe</button>
                    </div>
                </form> -->
            </div>
        </div>
        <hr class="bg-white">
        <div class="row text-center pb-4">
            <div class="col">
                <p class="mb-0">&copy; 2025 Sohof. All Rights Reserved.</p>
                <!-- <p class="mb-0"><a href="#" class="text-white text-decoration-none">Privacy Policy</a> | <a href="#" class="text-white text-decoration-none">Terms of Service</a></p> -->
            </div>
        </div>
    </div>
</footer>





<div id="adModal" class="modalad hiddenad">
    <div class="col-lg-12">
        <div class="row justify-content-between p-4">
            <div class="col-lg-12">
                <h1 style="font-size: 28px;"><strong>Ad</strong></h1>
                <button id="closeModalad" class="close-btnad">&times;</button>
            </div>
        </div>
    </div>
    <div class="modalad-content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for ad in advertisement %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row ad-desc-box-row">
                        <div class="col-12">
                            <img class="d-block w-100 ad-image" src="{{ ad.image.url }}" alt="{{ ad.company_name }}">
                        </div>
                        <div class="col-12 ad-desc-box">
                            <h2 class="ad-description" style="font-size: 18px;"><strong>Company Name:</strong> {{ad.company_name }}</h2>
                            <h2 style="font-size: 18px;"><i class="fa fa-industry"></i> <strong>Industry:</strong> {{ ad.industry }}</h2>
                            <h2 style="font-size: 18px;"><i class="fa fa-globe"></i> <strong>Website:</strong> 
                                <a href="{{ ad.website }}" target="_blank">{{ ad.website }}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" 
               style="background-color: red; height: 40px; width: 40px; position: absolute; top: 30%; left: 0; 
                      margin: 2px; transform: translateY(-50%); border-radius: 50%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" 
               style="background-color: red; height: 40px; width: 40px; position: absolute; top: 30%; right: 0; 
                      margin: 2px; transform: translateY(-50%); border-radius: 50%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<style>
    .sixth_section_titles{
    font-size: 20px;
    font-weight: bold;
}


.list-unstyled li .text-decoration-none:hover{
            color: rgb(255, 0, 0) !important;
        }
        .sm-links {
            transition: color 0.3s ease; 
        }

        .sm-links:hover {
            color: red;
        }
        .subscribe-button{

            background: transparent;
            color: rgb(255, 255, 255);
        }
        .subscribe-button:hover{

            background: transparent;
            color: black;
        }
        .subscrribe-title ,  .footer-top-title{
            font-weight: bold;
            color: white;
        }

        .category-name-index{
            font-size: 12px;
        }
        
        @media (min-width: 768px) and (max-width: 980px) {
            .catalogue-overlay-image {
            top: 35% !important;
            right: 10% !important;
            /* width: 70% !important; */
            }
        }

</style>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        const videoModal = document.getElementById('videoModal');
        const videoPlayer = document.getElementById('videoPlayer');
        const videoSource = document.getElementById('videoSource');
    
        $('#videoModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const videoUrl = button.data('video');
            videoSource.src = videoUrl;
            videoPlayer.load();
        });
    
        $('#videoModal').on('hidden.bs.modal', function () {
            videoPlayer.pause();
            videoPlayer.currentTime = 0;
        });
    });
    </script>



<script>
    document.addEventListener("DOMContentLoaded", () => {
         const modal = document.getElementById("adModal");
         const closeModal = document.getElementById("closeModalad");

         setTimeout(() => {
             modal.classList.remove("hiddenad");
             modal.style.bottom = "0"; 
         }, 500);

         closeModal.addEventListener("click", () => {
             modal.style.bottom = "-0%"; 
             setTimeout(() => {
                 modal.classList.add("hiddenad");
             }, 100); 
         });
      });

 </script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const carousel = document.getElementById("carousel-category-index");
        const prevBtn = document.getElementById("prevBtn-category-index");
        const nextBtn = document.getElementById("nextBtn-category-index");
        
        let isDragging = false;
        let startX, scrollLeft;
    
        carousel.addEventListener("mousedown", (e) => {
            isDragging = true;
            carousel.classList.add("grabbing-category-index");
            startX = e.pageX - carousel.offsetLeft;
            scrollLeft = carousel.scrollLeft;
        });
    
        document.addEventListener("mouseup", () => {
            isDragging = false;
            carousel.classList.remove("grabbing-category-index");
        });
    
        document.addEventListener("mousemove", (e) => {
            if (!isDragging) return;
            e.preventDefault();
            const x = e.pageX - carousel.offsetLeft;
            const walk = (x - startX) * 2;
            carousel.scrollLeft = scrollLeft - walk;
        });
    
        carousel.addEventListener("touchstart", (e) => {
            isDragging = true;
            startX = e.touches[0].pageX - carousel.offsetLeft;
            scrollLeft = carousel.scrollLeft;
        });
    
        document.addEventListener("touchend", () => {
            isDragging = false;
        });
    
        carousel.addEventListener("touchmove", (e) => {
            if (!isDragging) return;
            const x = e.touches[0].pageX - carousel.offsetLeft;
            const walk = (x - startX) * 2;
            carousel.scrollLeft = scrollLeft - walk;
        });
    
        prevBtn.addEventListener("click", () => {
            carousel.scrollBy({ left: -200, behavior: "smooth" });
        });
    
        nextBtn.addEventListener("click", () => {
            carousel.scrollBy({ left: 200, behavior: "smooth" });
        });
    });
    </script>



<!-- Header carousel -->
<script>
    $(document).ready(function() {
      $('#carouselExampleCaptions').carousel({
        interval: 2000, 
      });
    });
  </script>
  

  {% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
            Swal.fire({
                icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% else %}info{% endif %}',
                title: '{{ message.tags|title }}',
                text: '{{ message }}',
                confirmButtonColor: '#ff1d1d'
            });
        {% endfor %}
    });
</script>
{% endif %}

{% endblock content %}